/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-1 {
  margin: 0 auto;
  width: 1880px;
  height: 4304px;
  background-color: #B28AF8;
}
.body-1 .header {
  width: 1437px;
  height: 1252px;
  position: relative;
}
.body-1 .header .Geolab {
  width: 50;
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
  border: 1px solid #38537b;
  border-radius: 50px;
  position: absolute;
}
.body-1 .f-1-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .headcontainer {
  position: relative;
  width: 813px;
  height: 50px;
  margin-left: 140px;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .headcontainer .ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.body-1 .headcontainer .ball > .fa-g {
  padding-left: 18px;
  padding-top: 16px;
  color: #B28AF8;
  font-weight: bold;
}
.body-1 .headcontainer .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 723px;
  height: 20px;
  color: #FFFFFF;
  padding-left: 40px;
  padding-top: 19px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  position: relative;
}
.body-1 .click {
  width: 150px;
  height: 50px;
  border: 2px solid;
  border-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 40px;
  color: #FFFFFF;
  padding-top: 14px;
  margin-left: 1100px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.body-1 .fa-bars-staggered {
  font-size: 40px;
  color: wheat;
  display: none;
}
.body-1 .headsection {
  padding-left: 110px;
  padding-top: 120px;
  position: relative;
}
.body-1 .help {
  width: 656px;
  height: 248px;
  padding-left: 140px;
  padding-top: 45px;
  display: inline-block;
}
.body-1 .help .help-h1 {
  font-size: 50px;
  color: #FFFFFF;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.body-1 .help .help-h2 {
  font-size: 80px;
  color: #FFFFFF;
  padding-bottom: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.body-1 .help .help-h3 {
  font-size: 60px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.body-1 .first-p {
  width: 585px;
  height: 58px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 100px;
  padding-left: 140px;
  color: #FFFFFF;
  line-height: 30px;
}
.body-1 .balls-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 100px;
}
.body-1 .portfolio1 {
  margin-top: 100px;
  margin-left: 130px;
}
.body-1 .portfolio1 .portfolio {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border: 1px solid wheat;
  text-align: center;
  color: #B28AF8;
}
.body-1 .ball-3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #C4A3FD;
  margin-top: 490px;
  margin-left: 450px;
  color: #FFFFFF;
  padding-left: 25px;
  padding-top: 20px;
  cursor: pointer;
  position: absolute;
}
.body-1 .p-2 {
  width: 200px;
  height: 200px;
  position: absolute;
}
.body-1 .m-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.body-1 .m-2 {
  position: absolute;
  width: 300px;
  height: 300px;
  padding-left: 499px;
  padding-top: 300px;
}
.body-1 .m-2 .p-2 {
  width: 700px;
  height: 600px;
}
.body-1 .p-4 {
  position: absolute;
  padding-left: 500px;
  padding-top: 200px;
  z-index: 3;
}
.body-1 .p-4 .phone {
  width: 600px;
  height: 500px;
  margin-left: 100px;
  z-index: 5;
}
.body-1 .p-5 {
  padding-top: 100px;
  padding-left: 500px;
}
.body-1 .section-2 .center {
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding-left: 540px;
}
.body-1 .section-2 .center-2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  padding-left: 475px;
}
.body-1 .section-2 .balls {
  width: 1660px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 170px;
}
.body-1 .section-2 .balls .im-section {
  padding-top: 62px;
  padding-left: 73px;
}
.body-1 .section-2 .balls .b-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C4A3FD;
  margin-top: 61px;
  padding-left: 20px;
  padding-top: 15px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
}
.body-1 .section-2 .balls .b-1:hover {
  background-color: #271d37;
  cursor: pointer;
}
.body-1 .section-2 .balls .b-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C4A3FD;
  padding-left: 20px;
  padding-top: 15px;
  margin-top: 65px;
  margin-left: 10px;
  color: #FFFFFF;
  cursor: pointer;
}
.body-1 .section-2 .balls .b-2:hover {
  background-color: #362a4b;
}
.body-1 .section-2 .fors-2 {
  width: 1501px;
  height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .section-2 .fors-2 .p-11 {
  width: 600px;
  height: 452px;
  margin-top: 180px;
  margin-left: 60px;
}
.body-1 .section-2 .fors-2 .infors-2 {
  width: 662px;
  height: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  margin-left: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-1 .section-2 .fors-2 .infors-2 .theline {
  width: 102px;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 5px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 10px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  padding-left: 129px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-2 {
  padding-top: 50px;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 400px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-3 {
  padding-top: 40px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 470px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-4 {
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 470px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-5 {
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 470px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-6 {
  width: 240px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 40px;
  color: #B28AF8;
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
  margin-top: 40px;
}
.body-1 .section-2 .fors-2 .infors-2 .gop-6:hover {
  background-color: #362a4b;
  color: lightblue;
  cursor: pointer;
  width: 270px;
  height: 70px;
  padding-top: 25px;
}
.body-1 .section-2 .fors-2 .p3-fors-2 {
  width: 474px;
  height: 20px;
  padding-top: 379px;
  margin-left: 460px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.body-1 .section-2 .fors-2 .p4-fors-2 {
  width: 804px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 40px;
  margin-left: 270px;
}
.body-1 .section-2 .fors-2 .last-fors-2 {
  width: 1140px;
  height: 250px;
  margin-left: 95px;
  margin-top: 65px;
  background-color: #956AE1;
  border: 1px solid;
  border-radius: 139px;
  border-color: #cfb3ff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .section-2 .fors-2 .last-fors-2 .number-1 {
  width: 281px;
  height: 90px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  padding-left: 80px;
  padding-top: 60px;
}
.body-1 .section-2 .fors-2 .last-fors-2 .number-1-p {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding-left: 50px;
  padding-top: 15px;
  position: relative;
  letter-spacing: 1px;
}
.body-1 .section-2 .fors-2 .last-fors-2 .line-2 {
  width: 2px;
  height: 60px;
  background-color: #C4A3FD;
  position: absolute;
  margin-left: 290px;
  margin-top: 22px;
}
.body-1 .section-2 .fors-2 .last-fors-2 .number-2 {
  width: 281px;
  height: 90px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  padding-left: 160px;
  padding-top: 61px;
  position: relative;
}
.body-1 .section-2 .fors-2 .last-fors-2 .number-1-p-2 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  font-family: "roboto";
  line-height: 26px;
  margin-top: 110px;
  margin-left: 30px;
  letter-spacing: 1px;
  position: absolute;
  width: 255px;
}
.body-1 .section-2 .fors-2 .last-fors-2 .number-3 {
  width: 281px;
  height: 90px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  padding-left: 260px;
  padding-top: 63px;
  position: relative;
}
.body-1 .section-2 .fors-2 .last-fors-2 .number-1-p-3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  font-family: "roboto";
  line-height: 26px;
  margin-top: 110px;
  margin-left: 30px;
  letter-spacing: 1px;
  position: absolute;
  width: 255px;
}
.body-1 .section-2 .p3-fors-2 {
  width: 474px;
  height: 20px;
  padding-top: 209px;
  margin-left: 460px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.body-1 .section-2 .p4-fors-2 {
  width: 804px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 40px;
  margin-left: 270px;
}
.body-1 .section-2 .last-fors-2 {
  width: 1140px;
  height: 250px;
  margin-left: 95px;
  margin-top: 65px;
  background-color: #956AE1;
  border: 1px solid;
  border-radius: 139px;
  border-color: #cfb3ff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .section-2 .last-fors-2 .number-1 {
  width: 281px;
  height: 90px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  padding-left: 80px;
  padding-top: 60px;
}
.body-1 .section-2 .last-fors-2 .number-1-p {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding-left: 50px;
  padding-top: 15px;
  position: relative;
  letter-spacing: 1px;
}
.body-1 .section-2 .last-fors-2 .line-2 {
  width: 2px;
  height: 60px;
  background-color: #C4A3FD;
  position: absolute;
  margin-left: 290px;
  margin-top: 22px;
}
.body-1 .section-2 .last-fors-2 .number-2 {
  width: 281px;
  height: 90px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  padding-left: 160px;
  padding-top: 61px;
  position: relative;
}
.body-1 .section-2 .last-fors-2 .number-1-p-2 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  font-family: "roboto";
  line-height: 26px;
  margin-top: 110px;
  margin-left: 30px;
  letter-spacing: 1px;
  position: absolute;
  width: 255px;
}
.body-1 .section-2 .last-fors-2 .number-3 {
  width: 281px;
  height: 90px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  padding-left: 260px;
  padding-top: 63px;
  position: relative;
}
.body-1 .section-2 .last-fors-2 .number-1-p-3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  font-family: "roboto";
  line-height: 26px;
  margin-top: 110px;
  margin-left: 30px;
  letter-spacing: 1px;
  position: absolute;
  width: 255px;
}
.body-1 .section-3 {
  width: 1880px;
  height: 2378px;
  background-color: #956AE1;
  margin-top: 120px;
  z-index: 3;
  position: absolute;
}
.body-1 .section-3 .ps-16 {
  margin-left: 1px;
  margin-top: 650px;
  position: absolute;
}
.body-1 .section-3 .forsection-3 {
  width: 1080px;
  height: 626px;
  margin-left: 140px;
}
.body-1 .section-3 .forsection-3 .smalltitle {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 120px;
}
.body-1 .section-3 .forsection-3 .bigtitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  padding-top: 15px;
}
.body-1 .section-3 .forsection-3 .gocards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 {
  background-color: #B28AF8;
  width: 400px;
  height: 130px;
  margin-left: 70px;
  border-radius: 10px;
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 .p-12 {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 40px;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 .group .smalltitle-2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  padding-top: 40px;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 .group .mostsmalltitle {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 .ballincards {
  width: 40px;
  height: 40px;
  background-color: #956AE1;
  margin-top: 90px;
  margin-left: 20px;
  border-top-left-radius: 30px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 5px;
  cursor: pointer;
}
.body-1 .section-3 .forsection-3 .gocards .card-1 .ballincards:hover {
  background-color: #271d37;
  color: lightblue;
}
.body-1 .section-3 .p-16 {
  position: absolute;
  margin-top: 320px;
}
.body-1 .section-3 .morecards {
  width: 900px;
  height: 686px;
  margin-left: 140px;
  position: absolute;
  margin-left: 200px;
}
.body-1 .section-3 .morecards .smalltitle-formorecards {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 20px;
}
.body-1 .section-3 .morecards .bigtitle-formorecards {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}
.body-1 .section-3 .morecards .s-morecards {
  width: 100%;
  height: 251px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1, .body-1 .section-3 .morecards .s-morecards .s-card-2, .body-1 .section-3 .morecards .s-morecards .s-card-3, .body-1 .section-3 .morecards .s-morecards .s-card-4 {
  width: 201px;
  height: 201px;
  border-radius: 30px;
  background-color: #B28AF8;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-1-s, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-1-s, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-1-s, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-1-s {
  width: 200px;
  height: 122px;
  background-color: #E2FEF0;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-1-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-1-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-1-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-1-s .p-17 {
  width: 180px;
  padding-top: 21px;
  padding-left: 19px;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-1-s .p-18, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-1-s .p-18, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-1-s .p-18, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-1-s .p-18 {
  width: 150px;
  height: 100px;
  padding-top: 20px;
  padding-left: 51px;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-2-s, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-2-s, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-2-s, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-2-s {
  width: 200px;
  height: 122px;
  background-color: #AACBFC;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-2-s .p-18, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-2-s .p-18, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-2-s .p-18, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-2-s .p-18 {
  width: 150px;
  height: 100px;
  padding-top: 20px;
  padding-left: 51px;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-3-s, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-3-s, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-3-s, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-3-s {
  width: 200px;
  height: 122px;
  background-color: #FFC7E1;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-3-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-3-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-3-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-3-s .p-17 {
  width: 150px;
  height: 100px;
  padding-top: 20px;
  padding-left: 51px;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-3-s, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-3-s, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-3-s, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-3-s {
  width: 200px;
  height: 122px;
  background-color: #FCFFCE;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .incard-3-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-2 .incard-3-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-3 .incard-3-s .p-17, .body-1 .section-3 .morecards .s-morecards .s-card-4 .incard-3-s .p-17 {
  width: 150px;
  height: 100px;
  padding-top: 20px;
  padding-left: 51px;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .smalltitleincard-1, .body-1 .section-3 .morecards .s-morecards .s-card-2 .smalltitleincard-1, .body-1 .section-3 .morecards .s-morecards .s-card-3 .smalltitleincard-1, .body-1 .section-3 .morecards .s-morecards .s-card-4 .smalltitleincard-1 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}
.body-1 .section-3 .morecards .s-morecards .s-card-1 .mostsmalltitleincard-1, .body-1 .section-3 .morecards .s-morecards .s-card-2 .mostsmalltitleincard-1, .body-1 .section-3 .morecards .s-morecards .s-card-3 .mostsmalltitleincard-1, .body-1 .section-3 .morecards .s-morecards .s-card-4 .mostsmalltitleincard-1 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  padding-left: 72px;
  padding-top: 10px;
}
.body-1 .section-3 .morecards .smallbals-2 {
  width: 120px;
  height: 50px;
  margin-left: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-1 .section-3 .morecards .smallbals-2 .smallballone {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C4A3FD;
  padding-left: 20px;
  padding-top: 15px;
  color: #FFFFFF;
}
.body-1 .section-3 .morecards .smallbals-2 .smallballone:hover {
  background-color: #271d37;
  cursor: pointer;
  color: palevioletred;
}
.body-1 .section-3 .p-25 {
  position: absolute;
  margin-left: 700px;
  margin-top: 50px;
}
.body-1 .section-3 .p-25 .p-25part2 {
  width: 300px;
  height: 300px;
}
.body-1 .section-3 .morecards-part-2 {
  position: absolute;
  width: 900px;
  height: 686px;
  position: absolute;
}
.body-1 .section-3 .morecards-part-2 .smalltitle-formorecardspart-2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 20px;
}
.body-1 .section-3 .morecards-part-2 .bigtitle-formorecardspart-2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 {
  width: 100%;
  height: 251px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 {
  width: 201px;
  height: 238px;
  border-radius: 30px;
  background-color: #B28AF8;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-1-spart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-1-spart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-1-spart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-1-spart-2 {
  width: 200px;
  height: 132px;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-1-spart-2 .p-17part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-1-spart-2 .p-17part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-1-spart-2 .p-17part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-1-spart-2 .p-17part-2 {
  width: 100%;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-1-spart-2 .p-17part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-1-spart-2 .p-17part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-1-spart-2 .p-17part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-1-spart-2 .p-17part2 {
  width: 150px;
  height: 100px;
  padding-top: 20px;
  padding-left: 51px;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .ballincardspart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .ballincardspart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .ballincardspart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .ballincardspart-2 {
  padding-left: 20px;
  padding-top: 5px;
  margin-left: 151px;
  width: 50px;
  height: 37px;
  border-top-left-radius: 30px;
  background-color: #956AE1;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .ballincardspart-2:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .ballincardspart-2:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .ballincardspart-2:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .ballincardspart-2:hover {
  cursor: pointer;
  background-color: #271d37;
  color: #AACBFC;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-2-spart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-2-spart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-2-spart-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-2-spart-2 {
  width: 200px;
  height: 122px;
  background-color: #AACBFC;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-2-spart-2 .p-18part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-2-spart-2 .p-18part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-2-spart-2 .p-18part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-2-spart-2 .p-18part-2 {
  width: 100%;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .ballincardspart-3, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .ballincardspart-3, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .ballincardspart-3, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .ballincardspart-3 {
  padding-left: 20px;
  padding-top: 5px;
  margin-left: 151px;
  margin-top: 10px;
  width: 50px;
  height: 37px;
  border-top-left-radius: 30px;
  background-color: #956AE1;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .ballincardspart-3:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .ballincardspart-3:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .ballincardspart-3:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .ballincardspart-3:hover {
  cursor: pointer;
  background-color: #271d37;
  color: #AACBFC;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .ballincardspart-4, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .ballincardspart-4, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .ballincardspart-4, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .ballincardspart-4 {
  padding-left: 20px;
  padding-top: 5px;
  margin-left: 151px;
  margin-top: 10px;
  width: 50px;
  height: 37px;
  border-top-left-radius: 30px;
  background-color: #956AE1;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 30px;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .ballincardspart-4:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .ballincardspart-4:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .ballincardspart-4:hover, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .ballincardspart-4:hover {
  cursor: pointer;
  background-color: #271d37;
  color: #AACBFC;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-3-spart2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-3-spart2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-3-spart2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-3-spart2 {
  width: 200px;
  height: 122px;
  background-color: #AACBFC;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-3-spart2 .p-19part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-3-spart2 .p-19part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-3-spart2 .p-19part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-3-spart2 .p-19part2 {
  width: 100%;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-4-spart2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-4-spart2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-4-spart2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-4-spart2 {
  width: 200px;
  height: 122px;
  background-color: #AACBFC;
  border-radius: 30px;
  position: relative;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .incard-4-spart2 .p-14part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .incard-4-spart2 .p-14part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .incard-4-spart2 .p-14part2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .incard-4-spart2 .p-14part2 {
  width: 100%;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .smalltitleincard-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .smalltitleincard-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .smalltitleincard-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .smalltitleincard-1part-2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 15px;
  width: 175px;
  padding-left: 18px;
  font-size: 12px;
}
.body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 .mostsmalltitleincard-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2 .mostsmalltitleincard-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2 .mostsmalltitleincard-1part-2, .body-1 .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 .mostsmalltitleincard-1part-2 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  padding-left: 30px;
  padding-top: 20px;
}
.body-1 .section-3 .morecards-part-2 .smallbals-2part-2 {
  width: 120px;
  height: 50px;
  margin-top: 35px;
  margin-left: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-1 .section-3 .morecards-part-2 .smallbals-2part-2 .smallballonepart-2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C4A3FD;
  padding-left: 20px;
  padding-top: 15px;
  color: #FFFFFF;
}
.body-1 .section-3 .morecards-part-2 .smallbals-2part-2 .smallballonepart-2:hover {
  background-color: #271d37;
  cursor: pointer;
  color: palevioletred;
}
.body-1 .section-3 .p-26 {
  position: absolute;
  margin-top: 1100px;
  z-index: 9;
  width: 300px;
  height: 400px;
}
.body-1 .footer .p-26 {
  position: absolute;
  margin-top: 1850px;
  z-index: 9;
  width: 300px;
  height: 400px;
}
.body-1 .footer .section-4 {
  width: 1880px;
  height: 850px;
  height: 1340px;
  background-color: #B28AF8;
  position: absolute;
  z-index: 5;
  margin-top: 2000px;
}
.body-1 .footer .section-4 .centerfors-4 {
  width: 600px;
  height: 400px;
  margin-left: 400px;
  margin-top: 80px;
}
.body-1 .footer .section-4 .centerfors-4 .p-27 {
  margin-left: 230px;
  margin-bottom: 30px;
  width: 100px;
  height: 130px;
}
.body-1 .footer .section-4 .centerfors-4 .titlefors-4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  margin-bottom: 2px;
}
.body-1 .footer .section-4 .centerfors-4 .smalltitlefors-4 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  width: 300px;
  height: 50px;
  text-align: center;
  margin-left: 120px;
}
.body-1 .footer .section-4 .centerfors-4 .input-1 {
  width: 450px;
  height: 50px;
  background-color: #C4A3FD;
  border: 1px solid wheat;
  border-radius: 40px;
  margin-left: 76px;
  margin-top: 20px;
  padding-left: 30px;
  color: #FFFFFF;
}
.body-1 .footer .section-4 .centerfors-4 .mybutton {
  margin-left: 225px;
  margin-top: 10px;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  width: 150px;
  height: 40px;
  border: 1px solid wheat;
  color: #B28AF8;
}
.body-1 .footer .section-4 .centerfors-4 .mybutton:hover {
  background-color: #AACBFC;
  color: #38537b;
  cursor: pointer;
  border: #AACBFC;
}
.body-1 .footer .section-4 .centerfors-4 .p-28 {
  position: absolute;
  margin-left: 750px;
}
.body-1 .footer .section-4 .footerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .footer .section-4 .footerflex .flexpart-2 {
  margin-top: 60px;
  margin-left: 50px;
}
.body-1 .footer .section-4 .footerflex .flexpart-2 .p-28 {
  width: 170px;
  height: 130px;
}
.body-1 .footer .section-5 {
  width: 1200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .footer .section-5 .ballinfooter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding-left: 18px;
  padding-top: 15px;
  color: #B28AF8;
  font-weight: bold;
  margin-bottom: 12px;
}
.body-1 .footer .section-5 .footerp-1 {
  width: 315px;
  height: 100px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  font-size: 12px;
  padding-left: 1px;
  line-height: 17px;
}
.body-1 .footer .section-5 .flex-2-s5 {
  margin-left: 110px;
  margin-top: 30px;
}
.body-1 .footer .section-5 .flex-2-s5 .footerp-2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.body-1 .footer .section-5 .flex-2-s5 .footerp-3 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  padding-left: 1px;
  line-height: 24px;
  font-weight: bold;
}
.body-1 .footer .section-5 .flex-3-s5 .footerp-4 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  margin-top: 60px;
  line-height: 24px;
  font-weight: bold;
}
.body-1 .footer .section-5 .flex-4-s5 .footerp-5 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  line-height: 24px;
  font-weight: bold;
}
.body-1 .footer .section-5 .flex-4-s5 .footerp-3 {
  margin-top: 20px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  font-weight: bold;
  padding-left: 1px;
  line-height: 20px;
}
.body-1 .footer .section-5-part2 {
  width: 1200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
.body-1 .footer .section-5-part2 .ballinfooter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding-left: 18px;
  padding-top: 15px;
  color: #B28AF8;
  font-weight: bold;
  margin-bottom: 12px;
}
.body-1 .footer .section-5-part2 .footerp-1 {
  width: 315px;
  height: 100px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  font-size: 12px;
  padding-left: 1px;
  line-height: 17px;
}
.body-1 .footer .section-5-part2 .flexforpart-2-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-1 .footer .section-5-part2 .flex-2-s5 {
  margin-left: 10px;
  margin-top: 30px;
}
.body-1 .footer .section-5-part2 .flex-2-s5 .footerp-2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.body-1 .footer .section-5-part2 .flex-2-s5 .footerp-3 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  padding-left: 1px;
  line-height: 24px;
  font-weight: bold;
}
.body-1 .footer .section-5-part2 .flex-3-s5 .footerp-4 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  margin-top: 60px;
  line-height: 24px;
  font-weight: bold;
}
.body-1 .footer .section-5-part2 .flex-4-s5 .footerp-5 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  line-height: 24px;
  font-weight: bold;
}
.body-1 .footer .section-5-part2 .flex-4-s5 .footerp-3 {
  margin-top: 20px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  width: 260px;
  padding-left: 30px;
  padding-top: 8px;
  font-weight: bold;
  padding-left: 1px;
  line-height: 20px;
}
.body-1 .footer .section-5-part2 .lineforfooterpart-2 {
  height: 1px;
  width: 400px;
  background-color: #DCC7FF;
  margin-bottom: 30px;
  margin-top: 30px;
}
.body-1 .footer .lineforfooter {
  height: 1px;
  width: 1200px;
  background-color: #DCC7FF;
  margin-left: 95px;
  margin-bottom: 30px;
}
.body-1 .footer .ballinfooter-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  height: 30px;
  margin-left: 68px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-1 .footer .ballinfooter-2 .ball-1ft {
  width: 37px;
  height: 37px;
  background-color: #C4A3FD;
  border-radius: 40px;
  padding-left: 12px;
  padding-top: 10px;
  color: #FFFFFF;
}
.body-1 .footer .ballinfooter-2 .ball-2ft {
  width: 37px;
  height: 37px;
  background-color: #C4A3FD;
  border-radius: 40px;
  padding-left: 10px;
  padding-top: 10px;
  color: #FFFFFF;
}
.body-1 .footer .lastfooter-s {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-left: 825px;
  margin-top: 10px;
}
.body-1 .footer .thelastsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}
.body-1 .footer .lastfooter-spart-2 {
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-left: 65px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .body {
    width: 1880px;
  }
  .navandul {
    display: none;
  }
  .click {
    display: none;
  }
  .bar {
    display: inline-block;
  }
  .bar .fa-bars-staggered {
    display: inline-block;
    padding-left: 1140px;
    cursor: pointer;
  }
  .p-1 {
    position: absolute;
    margin-top: 600px;
    margin-left: 100px;
  }
  .nav .p-4 {
    margin-top: 2px;
    position: absolute;
    padding-left: 1px;
  }
  .nav .p-4 .p-4bl {
    display: none;
  }
  .nav .p-4 .phone {
    width: 900px;
    height: 600px;
  }
  .nav .m-2 .p-2 {
    display: none;
  }
  .m-1 {
    margin-top: 700px;
    margin-left: 190px;
    position: absolute;
  }
  .m-1 .ball-3 {
    margin-top: 1px;
    margin-left: 420px;
    padding-left: 30px;
    padding-top: 25px;
    width: 70px;
    height: 70px;
  }
  .m-1 .help {
    margin-top: 40px;
    margin-left: 160px;
    line-height: 60px;
  }
  .first-p {
    margin-top: 10px;
    margin-left: 135px;
    width: 300px;
    height: 50px;
    text-align: center;
  }
  .m-4 {
    margin-left: 200px;
  }
  .section-2 {
    margin-bottom: 100px;
  }
  .section-2 .ress {
    margin-top: 300px;
    padding-left: 220px;
  }
  .section-2 .ress .center {
    padding-left: 311px;
  }
  .section-2 .ress .center-2 {
    padding-left: 250px;
  }
  .section-2 .ress .balls .b-1 {
    display: inline-block;
    margin-top: 115px;
    margin-left: 180px;
  }
  .section-2 .ress .balls .b-2 {
    display: inline-block;
    margin-top: 115px;
    position: absolute;
    margin-left: 255px;
  }
  .section-2 .ress .balls .im-section {
    margin-left: 10px;
  }
  .section-2 .ress .balls .im-section .f-8 {
    display: none;
  }
  .section-2 .ress .balls .im-section .f-9 {
    display: none;
  }
  .section-2 .ress .balls .im-section .f-10 {
    display: none;
  }
  .section-2 .fors-2 .p-11-ress {
    margin-left: 270px;
  }
  .section-2 .fors-2 .infors-2 {
    padding-top: 500px;
    position: absolute;
    padding-left: 300px;
  }
  .section-2 .fors-2 .infors-2 .gop-6 {
    margin-left: 100px;
    text-align: center;
  }
  .section-2 .p3-fors-2 .p3-fors-2-ress {
    padding-top: 350px;
    padding-left: 50px;
    width: 350px;
    line-height: 40px;
    text-align: center;
  }
  .section-2 .p4-fors-2 {
    padding-top: 400px;
  }
  .section-2 .p4-fors-2 .p4-fors-2-ress {
    width: 500px;
    text-align: center;
    margin-left: 160px;
    line-height: 50px;
  }
  .section-2 .plius {
    margin-top: 200px;
    margin-left: 390px;
  }
  .section-2 .plius .last-fors-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 750px;
    width: 370px;
    margin-top: 1px;
  }
  .section-2 .plius .last-fors-2 .number-1 .line-2 {
    margin-left: 80px;
    margin-top: 180px;
    height: 2px;
    width: 60px;
  }
  .section-2 .plius .last-fors-2 .number-1 .number-1-p {
    padding-left: 75px;
  }
  .section-2 .plius .last-fors-2 .number-2 {
    padding-left: 82px;
    padding-top: 190px;
  }
  .section-2 .plius .last-fors-2 .number-2 .line-2 {
    margin-left: 80px;
    margin-top: 180px;
    height: 2px;
    width: 60px;
  }
  .section-2 .plius .last-fors-2 .number-3 {
    padding-left: 90px;
    padding-top: 240px;
  }
  .section-2 .plius .last-fors-2 .number-3 .number-1-p-3 {
    padding-left: 15px;
  }
  .section-3 {
    margin-bottom: 500px;
  }
  .section-3 .p-16 {
    padding-top: 190px;
    padding-left: 150px;
    position: absolute;
  }
  .section-3 .forsection-3 .smalltitle {
    width: 300px;
    margin-left: 350px;
  }
  .section-3 .forsection-3 .bigtitle {
    width: 400px;
    margin-left: 300px;
    line-height: 50px;
  }
  .section-3 .forsection-3 .gocards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 235px;
  }
  .section-3 .morecards {
    margin-top: 400px;
  }
  .section-3 .morecards .bigtitle-formorecards {
    width: 300px;
    margin-left: 300px;
  }
  .section-3 .morecards .s-morecards .s-card-2, .section-3 .morecards .s-morecards .s-card-3, .section-3 .morecards .s-morecards .s-card-4 {
    display: none;
  }
  .section-3 .morecards .s-morecards .s-card-1 {
    margin-left: 350px;
  }
  .section-3 .p-25part2 {
    position: absolute;
  }
  .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-2part-2, .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-3part-2, .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-4part-2 {
    display: none;
  }
  .section-3 .morecards-part-2 .s-morecardspart-2 .s-card-1part-2 {
    margin-left: 350px;
  }
  .footer {
    margin-top: 500px;
  }
  .footer .p-26 {
    margin-left: 300px;
  }
  .footer .section-4 .footerflex {
    margin-top: 40px;
  }
  .footer .section-4 .footerflex .centerfors-4 .titlefors-4 {
    width: 300px;
    margin-left: 120px;
  }
  .footer .section-4 .footerflex .centerfors-4 .smalltitlefors-4 {
    width: 230px;
    margin-left: 140px;
    text-align: center;
  }
  .footer .section-4 .footerflex .centerfors-4 .input-1 {
    width: 300px;
    height: 130px;
    margin-left: 125px;
    border-color: #FFFFFF;
    padding-left: 105px;
  }
  .footer .section-4 .footerflex .centerfors-4 .mybutton {
    margin-left: 200px;
  }
  .footer .section-4 .footerflex .centerfors-4 .p-28 {
    margin-left: 380px;
    margin-top: 480px;
  }
  .footer .section-4 .section-5, .footer .section-4 .thelastsection, .footer .section-4 .lineforfooter {
    margin-top: 300px;
    display: none;
  }
  .footer .section-4 .section-5-part2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
    margin-left: 520px;
    display: inline-block;
  }
}/*# sourceMappingURL=global.css.map */